@model List<SearchAvitoPictureOutput>

<div class="ps-widget--sidebar ps-widget--category">
    <div class="ps-widget__header">
        <h3>Выберите раздел каталога</h3>    
    </div>
    <div class="ps-widget__content">
        <menu-categories items="Model" />
    </div>
</div>

