<footer>
    <div class="ps-footer bg--cover" data-background="images/background/parallax.jpg">
        <div class="ps-footer__copyright">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                      <p>&copy; <a href="#">Головинский</a>, Головинский район г.Москва, ул.Смольная, 7</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                        <ul class="ps-social">
                            <li>8 (916) 161 61 46</li>
                            <li>golovinskiy-rf@mail.ru</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>




